In [1]:
A = [1 2; 3 4; 5 6]

A =

   1   2
   3   4
   5   6

In [2]:
size(A)

ans =

   3   2

In [3]:
sz = size(A)

sz =

   3   2

In [4]:
size(sz)

ans =

   1   2

In [11]:
size(A, 1)

ans =  3

In [12]:
size(A, 2)

ans =  2

In [13]:
v = [1 2 3 4]

v =

   1   2   3   4

In [14]:
length(v)

ans =  4

In [15]:
length(A)

ans =  3

In [16]:
size(v)

ans =

   1   4

In [17]:
pwd

ans = /home/ragnar/Notebooks/Octave

In [18]:
who

Variables in the current scope:

A    ans  sz   v

In [19]:
whos

Variables in the current scope:

   Attr Name        Size                     Bytes  Class
   ==== ====        ====                     =====  =====
        A           3x2                         48  double
        ans         1x29                        29  char
        sz          1x2                         16  double
        v           1x4                         32  double

Total is 41 elements using 125 bytes

In [20]:
clear A

In [21]:
who

Variables in the current scope:

ans  sz   v

In [22]:
A = [1 2 3; 4 5 6; 7 8 9]

A =

   1   2   3
   4   5   6
   7   8   9

In [23]:
save A.mat A

In [24]:
clear

In [25]:
who

In [26]:
load A.mat

In [27]:
who

Variables in the current scope:

A

In [28]:
A

A =

   1   2   3
   4   5   6
   7   8   9

In [29]:
!cat A.mat

# Created by Octave 4.2.2, Mon Nov 25 17:31:47 2019 CST <ragnar@DEVSTATION>
# name: A
# type: matrix
# rows: 3
# columns: 3
 1 2 3
 4 5 6
 7 8 9

In [30]:
A(3,2)

ans =  8

In [32]:
A(2,:)

ans =

   4   5   6

In [33]:
A(:,2)

ans =

   2
   5
   8

In [34]:
A([1 3], :)

ans =

   1   2   3
   7   8   9

In [35]:
A(:,2) = [10;11;12]

A =

    1   10    3
    4   11    6
    7   12    9

In [36]:
A = [A, [100; 101; 102]]

A =

     1    10     3   100
     4    11     6   101
     7    12     9   102

In [37]:
A(:)

ans =

     1
     4
     7
    10
    11
    12
     3
     6
     9
   100
   101
   102

In [38]:
clear

In [39]:
A = [1 2; 3 4; 5 6]

A =

   1   2
   3   4
   5   6

In [40]:
B = [11 12; 13 14; 15 16]

B =

   11   12
   13   14
   15   16

In [41]:
C = [A B]

C =

    1    2   11   12
    3    4   13   14
    5    6   15   16

In [42]:
C = [A; B]

C =

    1    2
    3    4
    5    6
   11   12
   13   14
   15   16